
# *out* : a.out, a.exe, out.s, etc.

a.*
# a.out and a.exe

*.s
# assembly files like out.s

out/*
!out/.gitkeep
# build artifacts (binaries + assembly); keep the directory itself

# https://www.codeblocks.org/ c.b. project (cbp)
/codeblocks/
!/qbe-apps.cbp
/qbe-apps.depend
/qbe-apps.layout
